Analise Estatistica da Base do teste Limpa

In [2]:
import pandas as pd
df_base_limpa = pd.read_csv(r'C:\RPA\desafio_projetos\desafio_fadesp\desafio-fadesp-processo-seletivo\resolucao-teste\base-limpa.csv')

In [ ]:
# visualização do df
df_base_limpa.head()

,Unnamed: 0,ID da Linha,ID do Pedido,Data do Pedido,Data de Envio,Modalidade de Envio,ID do Cliente,Nome do Cliente,Segmento,Cidade,...,ID do Produto,Categoria,Subcategoria,Nome do Produto,Vendas,Quantidade,Desconto,Lucro,Custo de Envio,Prioridade do Pedido
0,0,42433,AG-2011-2040,NaN,NaN,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,1,22253,IN-2011-47883,NaN,NaN,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,2,48883,HU-2011-1220,NaN,NaN,Second Class,AT-735,Annie Thurman,Consumer,Budapest,...,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High
3,3,11731,IT-2011-3647632,NaN,NaN,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,4,22255,IN-2011-47883,NaN,NaN,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,...,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium

Respondendo as primeiras analise do teste -> Entendimento dos dados

In [ ]:
# visualizando dados descritivos da base
df_base_limpa.describe()

,Unnamed: 0,ID da Linha,Vendas,Quantidade,Desconto,Lucro,Custo de Envio
count,51290.00000,51290.00000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25644.50000,25645.50000,246.490581,3.476545,0.142908,28.610982,26.375915
std,14806.29199,14806.29199,487.565361,2.278766,0.212280,174.340972,57.296804
min,0.00000,1.00000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,12822.25000,12823.25000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25644.50000,25645.50000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38466.75000,38467.75000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51289.00000,51290.00000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [ ]:
# visualização de dados categoricos da base 
df_base_limpa.select_dtypes(include='object').nunique()

ID do Pedido            25035
Data do Pedido            865
Data de Envio             884
Modalidade de Envio         4
ID do Cliente            1590
Nome do Cliente           795
Segmento                    3
Cidade                   3636
Estado                   1094
País                      147
Mercado                     7
Região                     13
ID do Produto           10292
Categoria                   3
Subcategoria               17
Nome do Produto          3788
Prioridade do Pedido        4
dtype: int64